body {
  background-color: #fffafa;
  /*  フォントの種類  */
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  /*  フォントのサイズ  */
  font-size: 16px;
  /*  フォントの色  */
  font-size: #333;
  /* カーニングの設定 */
  letter-spacing: 1.5px;
  /* 行間の設定 */
  line-height: 1.75;
}

.card {
  width: 20rem;
  text-align: center;
}

.cross_line {
  display: inline-block;
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  text-decoration: none;
  font-weight: bold;
  color: #ff69b4;
}

.cross_line:before, .cross_line:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
  transition: .3s;
}

.cross_line:before {
  left: 7px;
}

.cross_line:after {
  right: 7px;
}

.cross_line:hover:before {
  top: 0px;
  left: 0;
  height: 100%;
}

.cross_line:hover:after {
  top: 0px;
  right: 0;
  height: 100%;
}

.cross_line:active {
  color: #c71585;
}

.href {}
